body{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border: 1px solid black;
    padding: 10px;
    table-layout: fixed;
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

th {
    background-color: blanchedalmond;
}

tr:hover {
    background-color: burlywood;
}

td, th{
    padding: 5px;
    overflow-wrap: break-word;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: calc(12pt*12);
    height: auto;

    font-family: monospace;
    font-size: 12pt;
}
