body{
    background-color: white;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border: 1px solid black;
    padding: 10px;
    table-layout: fixed;
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

th {
    background-color: blanchedalmond;
}

tr:hover {
    background-color: burlywood;
}

td, th{
    padding: 5px;
    overflow-wrap: break-word;
}

.CodeMirror {
    border: 1px black solid;
    font-family: monospace;
    font-size: 12pt;
    height: 100%;
}

.variableinspector {
    border: 1px black solid;
    height: 300px;
    overflow-y: scroll;
}

.columncontainer {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.column {
    flex-basis: 100%; 
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}
