
html {
    scroll-behavior: smooth;
}

:root {
    --timeline-color: #0f4ec200;
    --timeline-glow-color: #0f4ec2ff;
    --timeline-node-active-color: #00ff0022;
    --timeline-node-active-glow-color: #00ff00ff;
    --timeline-node-glow-color: #00ffffff;
    --timeline-node-color: #00ffff11;
    --timeline-label-color: var(--timeline-node-glow-color);
    --timeline-label-glow-color: var(--timeline-node-glow-color);
    --timeline-label-active-color: #00ff0088;
    --timeline-label-active-glow-color: var(--timeline-node-active-color);
    --margin-correction: -0px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    clip: rect(0,0, 100vw, 100vh);

    font-smooth: never;
    -webkit-text-stroke: 0px;
    -webkit-font-smoothing: none;
}

.timeline {
    position:relative;
    margin-top: auto;
    vertical-align: middle;
    display:inline-block;
    background-color:var(--timeline-color);
    border: 0px;
    box-shadow: var(--timeline-glow-color) 0px 0px calc(15px * var(--scale));
}

.timeline-node {
    width: var(--timeline-size);
    height: var(--timeline-size);
    border-radius: calc(var(--timeline-size) / 2.0);
    background-color:var(--timeline-node-color);
    box-shadow: 
        var(--timeline-node-glow-color) 0px 0px calc(35px * var(--scale)),
        var(--timeline-node-glow-color) 0px 0px calc(35px * var(--scale));
    z-index: auto;
    color: var(--timeline-label-color);
    text-shadow:  
        black -1px -1px 0px,
        black 1px -1px 0px,
        black 1px 1px 0px,
        black -1px 1px 0px,
        black -1px 0px 0px,
        black 1px 0px 0px,
        black 0px -1px 0px,
        black 0px 1px 0px,
    var(--timeline-label-glow-color) 0px 0px 5px;
    backdrop-filter: none;
}

.timeline-node:hover, .timeline-node-active {
    background-color:var(--timeline-node-active-color);
    box-shadow: var(--timeline-node-active-glow-color) 0px 0px calc(45px * var(--scale));

    color: var(--timeline-label-active-color);
    text-shadow: var(--timeline-label-active-glow-color) 0px 2px 5px;
    
}

.timeline-node-active {
    border-radius: 0;
    width: 100vw;
}

.timeline-edge {
    height: calc(var(--timeline-size) / 10);
    width: var(--timeline-size);
    margin: calc(var(--margin-correction) * var(--scale));
    z-index: -1;
}

.timeline-edge-end {
    width: calc(
        (
            100vw - (
                (var(--node-count) * 2 - 1) * var(--timeline-size)  +
                (var(--node-count)) * (2 * var(--margin-correction) * var(--scale))
                ) / var(--scale)
        ) / 2 * var(--scale));
}

.timeline-label {
    pointer-events: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16pt;
    position: absolute;
    top: calc(var(--timeline-size) * 1.1);
    left: auto;
    width: 100%;
    transform: scale(var(--scale));
    text-align: center;
}

.timeline-node-show-content {
    backdrop-filter: blur(10px) brightness(0.3);
}

:not(.timeline-node-show-content) .timeline-content {
    filter: blur(10px) opacity(0);
}

.timeline-node-show-content .timeline-content {
    filter: none;
}

dt {
    margin-top: 12pt;
}

.timeline-content {
    position:relative;

    width:100%;
    min-width: 100%;
    max-width: 100%;
    height: var(--timeline-size);
    min-height: var(--timeline-size);
    margin: 0;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    
    text-shadow:
        black 0px 2px 5px, 
        black 0px 2px 5px,
        black 0px 1px 5px, 
        black 0px 0px 5px, 
        black 0px 2px 5px,
        black 1px 0px 5px,
        black -1px 0px 5px;

    overflow: scroll;
}

.scroll-snap-container {
    scroll-snap-type: y mandatory;
}

.scroll-snap-start {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.timeline-content-columns {
    height: 100%;
    width: 100%;

    margin: 0;

    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.timeline-content-column-item {
    flex-basis: 100%; 
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.timeline-content-page {
    height: var(--timeline-size);
    max-height: var(--timeline-size);
    min-height: var(--timeline-size);

    width: 100%;
    min-width: var(--timeline-square);

    margin: 0;

    display:flex;
    flex-flow: column;
    flex-grow: 1;
    margin-bottom: calc(var(--timeline-size) * 2);
    margin-top: calc(var(--timeline-size) * 2);
}

.timeline-content-padding {
    height: 100%;
    padding: calc((var(--timeline-size) - var(--timeline-square)) /2);
}

.timeline-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width:100vw;
    height: 100vh;
    overflow:hidden;
}

::-webkit-scrollbar {
    display: none;
}

.timeline-canvas {
    position:relative;
    transform: scale(calc(1 / var(--scale)));
    transform-origin: 0px 0px;
    width:200000px;
    height: 200000px;
    top: calc(50% - var(--timeline-size) / var(--scale) / 2);
    left: 0;
    vertical-align: middle;
    padding:0px;
}

div {
    backface-visibility: hidden;
    transform: translateZ(0);

    transition: 
        all 1s ease-in-out 0s, 
        color 0.3s ease-in-out 0s, 
        text-shadow 0.3s ease-in-out 0s, 
        backdrop-filter 0.3s ease-in-out 0s,
        filter 0.5s ease-in-out 0s;
}

.title {
    position:relative;
    z-index: 10;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    margin-bottom: 12pt;
}

h1 {
    color: var(--timeline-label-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5EM;
}

.display-iframe {
    overflow: visible;
    border: 1px white dashed;
    border-radius: 15px;
    margin:auto;
    display: inline-block;
    transform: translateZ(0) scale(1);
}

.center {
    text-align: center;
    align-content: center;
}
